/* You can add global styles to this file, and also import other style files */

// Required
$primary: #9a3c0d;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";

body {
  background-image: url(/assets/vintage-concrete.png);
}

.form-control + label {
  margin-top: 15px;
}

.btn {
  cursor: pointer;
}
